.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/background-header-image.jpg);
    height: 500px;
}

.navbar {
    height: 74px;
}

.navbar__container {
    height: 40px;
}

.navbar__title {
    height: 26px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.navbar__nav {
    height: 40px;
}

.navbar__link {
    height: 20px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    height: 159px;
}

.intro__title {
    width: 498px;
    height: 51px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.intro__text {
    width: 504px;
    height: 20px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}

.intro__button {
    width: 167px;
    height: 44px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

.menu {
    height: 65px;
}

.menu__nav {
    height: 46px;
}

.menu__link {
    height: 46px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #768088;
}

.section {
    height: 1255px;
}

.featured-posts {
    height: 414px;
}

.featured-posts__title {
    height: 44px;
    width: 161px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.featured-posts__items {
    height: 294px;
}

.featured-post {
    height: 280px;
    border-radius: 3px;
}

.featured-post__first {
    background: url("../images/first-post.jpg");
}

.featured-post__second {
    background: url("../images/second-post.jpg");
}

.featured-posts__title {
    height: 30px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}

.featured-posts__text {
    height: 25px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__info {
    height: 35px;
}

.featured-post__author {
    height: 35px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__image {
    height: 26px;
    border-radius: 60px;
}

.featured-post__date {
    height: 35px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__category {
    height: 26px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.recent {
    height: 752px;
}

.recent__title {
    width: 136px;
    height: 27px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.recent__posts {
    height: 632px;
}

.recent-post {
    height: 291px;
}

.recent-post__image {
    height: 150px;
}

.recent-post__header {
    height: 93px;
}

.recent-post__title {
    height: 21px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.recent-post__text {
    height: 19px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.recent-post__info {
    height: 48px;
}

.recent-post__image {
    height: 26px;
    border-radius: 60px;
}

.recent-post__author {
    height: 35px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.recent-post__date {
    height: 35px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

.footer {
    height: 89px;
}

.footer__container {
    height: 34px;
}

.footer__title {
    height: 26px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer__nav {
    height: 32px;
}

.footer__link {
    width: 37px;
    height: 26px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
