h1 {
    width: 498px;
    height: 51px;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
}

p, span {
    font-family: 'Oxygen', serif;
    font-style: normal;
    font-weight: 400;
}

body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Oxygen', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

h3 {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
}
