.header__navbar {
    padding: 3px 0 11px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header__title {
    font: normal 400 26px/26px 'Lora', serif;
    margin-top: 13px;
}

.header__nav {
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.header__link {
    padding-top: 10px;
    font: normal 400 12px/20px 'Oxygen', serif;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.header__navbar_color_light {
    color: #FFFFFF;
}

.header__navbar_color_dark {
    color: #2E2E2E;
}
