.menu {
    height: 65px;
}

.menu__nav {
    height: 46px;
}

.menu__link {
    width: 47px;
    height: 20px;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #768088;
}
