.menu {
    height: 65px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__nav {
    height: 46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 21px;
}

.menu__link {
    width: 139px;
    font: normal 400 14px/20px 'Lora', serif;
    text-align: center;
    color: #768088;
}
