.featured-posts {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.featured-posts__title {
    border-bottom: 1px solid #DEDEDE;
    padding: 0 13px 16px 13px;
}

.featured-posts__items {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 7px 10px;
}
