@import "featured/featured-posts.css";
@import "featured/featured-post.css";
@import "recent/recent-posts.css";
@import "recent/recent-post.css";

.section {
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
