.featured-post {
    height: 280px;
    border-radius: 3px;
}

.featured-post__container {
    height: 181px;
}

.featured-post__title {
    height: 30px;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
}

.featured-post__text {
    height: 25px;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__info {
    height: 35px;
}

.featured-post__image {
    height: 26px;
    border-radius: 60px;
}

.featured-post__author {
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__date {
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__category {
    height: 26px;
    width: 87px;
    background: #DD783F;
    border-radius: 2px;
}

.featured-post__category-text {
    height: 13px;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.featured-post_first {
    background: url(../../../images/first-post.jpg) no-repeat;
}

.featured-post_second {
    background: url(../../../images/second-post.jpg) no-repeat;
}
