.post {
}

.post__info {
    margin: 89px 0 38px 0;
    padding: 7px 0 75px 0;
}

.post__title {
    color: #2E2E2E;
}

.post__description {
    font: normal 400 17px/20px 'Oxygen', serif;
    text-align: center;
    color: #2e2e2ea1;
    margin-top: 20px;
}

.post__content {
    background: #F7F7F7;
    border-radius: 0;
    padding: 140px 240px 135px 240px;
}

.post__image {
    height: 534px;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.post__text {
    font: normal 400 24px/35px 'Oxygen', serif;
    color: #101315;
    margin-bottom: 35px;
}
