.post {
    position: absolute;
    height: 2526px;
    left: 0;
    right: 0;
    top: 0;
}

.post__info {
    height: 159px;
}

.post__title {
    color: #2E2E2E;
}

.post__description {
    width: 504px;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
}
.post__content {
    height: 1706px;
    background: #F7F7F7;
    border-radius: 0;
}

.post__image {
    height: 534px;
    border-radius: 3px;
}

.post__text {
    width: 960px;
    height: 1431px;
    font-size: 24px;
    line-height: 35px;
    color: #101315;
}
