.recent-post {
    height: 291px;
    background: #FFFFFF;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.09);
    border-radius: 3px;
}

.recent-post__image {
    height: 150px;
    border-radius: 0;
}

.recent-post__header {
    height: 93px;
}

.recent-post__title {
    height: 21px;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.recent-post__text {
    height: 19px;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.recent-post__info {
    height: 48px;
}

.recent-post__image-author {
    height: 26px;
    border-radius: 60px;
}

.recent-post__author {
    height: 35px;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
}

.recent-post__date {
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}
